<div class="table-container" ng-controller="exBalancesCtrl">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th></th>
        <th ng-repeat="currency in currencies">{% currency %}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="exchange in exchangeBalances" ng-click="getExChart(exchange.name)">
        <td>{% exchange.name %}</td>
        <td ng-repeat="currency in exchange.balances">{% currency.amount %}</td>
      </tr>
      <tr class="danger">
        <td>Total</td>
        <td ng-repeat="total in totalBalances" ng-click="getTotalChart()">{% total %}</td>
      </tr>
    </tbody>
  </table>
</div>