body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 1280px;
  margin: auto;
}

.table-container {
    float: left;
}

.chart-container {
    width: 800px;
    float: right;
}

table,
table th {
  text-align: center;
}

table tbody tr:hover {
    cursor: pointer;
}