body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.table-container table {
    width: 400px;
}

table,
table th {
  text-align: center;
}

table td:first-child:hover {
    cursor: pointer;
    background-color: #464545;
}