body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.table-container {
    float: left;
}

.chart-container {
    float: right;
    width: 900px;
}

table,
table th {
  text-align: center;
}

table tbody tr:hover {
    cursor: pointer;
}